#content {
  display: inline-block;
  font-size: larger;
  vertical-align: -0.7rem!important;
  width: auto;
}

.Test {
  width: 100%;
}

.Logo {
  width: 9.5rem;
  padding: 4px;
}

.Calendar {
  text-decoration: none;
  width: 80%;
}

.Card {
  padding: 10px!important;
}

.ClientCard {
  background: inherit;
  padding-top: 1%;
  padding-left: 0%;
}

.ContainerPaddingCorrection1 {
  padding-top: 8vh!important;
}

.ContainerPaddingCorrection2 {
  padding-top: 3vh!important;
}


.List-Header {
  background: inherit;
}

.Text {
  font-size: 1.28571429rem;
}

.header {
  background-color: transparent !important;
}