@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.container {
  /* padding: 5vw; */
}

.ui.primary.button.monthlyViewButton {
  background-color: #2b2147;
}

.ui.button.monthlyViewButton {
  background-color: #2b2147;
  color: white;
}

.ui.primary.button.monthlyViewButton:hover {
  background-color: #2b2147;
  opacity: 90%;
}

.ui.button.monthlyViewButton:hover {
  background-color: #2b2147;
  color: white;
  opacity: 90%;
}

button.fc-today-button.fc-button.fc-button-primary{
  background-color: #2b2147;
}

button.fc-today-button.fc-button:disabled{
  opacity: 100%;
}

button.fc-prev-button.fc-button.fc-button-primary {
  background-color: #2b2147;
}
button.fc-next-button.fc-button.fc-button-primary {
  background-color: #2b2147;
}
button.fc-prev-button.fc-button.fc-button-primary:hover {
  background-color: #2b2147;
  opacity: 90%;
}
button.fc-next-button.fc-button.fc-button-primary:hover {
  background-color: #2b2147;
  opacity: 90%;
}

.fc-unthemed td.fc-today{
  background: #ee8b3a50;
}

div.fc-content{
  background-color: #ee8b3adb;
  border-color: #ee8b3adb;
}

a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end{
  background-color: #ee8b3adb;
  border-color: #ee8b3adb;
}