

.actions{
    display: flex;
    justify-content: space-between;
    align-content: space-between;

}

.autoMargin{
    margin: auto;
}

.hidden{
    display: none;
}
.progress{
    width: 100vh;

}
.keepbottom{
    bottom: 0;
    vertical-align: bottom;
}
.tableWrapper {
    width: 100%;
    bottom: 0;
    padding: 1rem 0;
    
    
}

